*.safetensors
# macOS metadata
.DS_Store

# Temporary or sync files
.tmp.drivedownload
.tmp.driveupload

# Exclude any image files in subdirectories
**/gen_images/*.jpg
**/gen_images/*.jpeg
**/gen_images/*.png
**/gen_images/*.gif
**/gen_images/*.bmp
**/gen_images/*.tiff
**/gen_images/*.tif
**/gen_images/*.svg
**/gen_images/*.webp
**/gen_images/*.ico

**/gen_images_compose/*.jpg
**/gen_images_compose/*.jpeg
**/gen_images_compose/*.png
**/gen_images_compose/*.gif
**/gen_images_compose/*.bmp
**/gen_images_compose/*.tiff
**/gen_images_compose/*.tif
**/gen_images_compose/*.svg
**/gen_images_compose/*.webp
**/gen_images_compose/*.ico

*.err
*.out

**/*.err
**/*.out

**/__pycache__

**/wandb

**/results

**/output_dir*.pkl
comparison_report_*.txt
hidden_states_list_swift_llama.pkl
hidden_states_list_transformers_llama.pkl
hidden_states_list_swift_llama.pkl
hidden_states_list_transformers_llama.pkl
hidden_states_list_swift_llama.pkl
hidden_states_list_transformers_llama.pkl
